{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="favicon.png" rel="icon" type="image/png" />
    <title>Home</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}" />
    <link rel="stylesheet" href="{% static 'css/coreindex.css' %}" />
  </head>

  <body>
    <header style="background-color: #1550f3">
      <div class="header_inner">
        <form method="post" action="/search">
          {% csrf_token %}
          <div class="left-side">
            <!-- Logo -->
            <div id="logo" style="margin-right: 120px" class="-hidden@s">
              <a href="/">
                <b
                  ><h1 style="text-transform: uppercase" id="logo">
                    Social
                  </h1></b
                >
              </a>
            </div>

            <input
              type="text"
              name="nameOfUser"
              placeholder="Search for username.."
            />
            <button type="submit">
              <i class="fa fa-search fa-1x" style="color: white"></i>
            </button>
          </div>
        </form>
        <div class="right-side lg:pr-4">
          <!-- upload -->
          <a
            href="#"
            class="bg-pink-500 flex font-bold hidden hover:bg-pink-600 hover:text-white inline-block items-center lg:block max-h-10 mr-4 px-4 py-2 rounded shado text-white"
            style="display: flex"
          >
            <ion-icon
              name="add-circle"
              class="-mb-1 mr-1 opacity-90 text-xl uilus-circle"
            ></ion-icon>
            Upload Pics / Videos
          </a>
          <!-- upload dropdown box -->

          <div
            uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small"
            class="header_dropdown"
          >
            <!-- notivication header -->
            <div class="px-4 py-3 -mx-5 -mt-4 mb-5 border-b">
              <h4>Upload Pics or Videos</h4>
            </div>

            <!-- notification contents -->

            <div class="flex justify-center flex-center text-center">
              <div class="flex flex-col choose-upload text-center">
                <form
                  action="/upload"
                  method="post"
                  enctype="multipart/form-data"
                >
                  {% csrf_token %}
                  <div>
                    <input type="file" name="image_upload" />
                  </div>

                  <textarea
                    class="button soft-warning small"
                    name="caption"
                    placeholder="caption..."
                  >
                  </textarea>

                  <br />
                  <button
                    type="submit"
                    style="
                      background-color: orange;
                      color: black;
                      padding: 6px;
                      border-radius: 6px;
                    "
                  >
                    Upload
                  </button>
                </form>
              </div>

              <div class="uk-flex uk-flex-column choose-upload" hidden>
                <div
                  class="mx-auto flex flex-col h-24 items-center justify-center relative w-full rounded-lg"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-12"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M2 9.5A3.5 3.5 0 005.5 13H9v2.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 15.586V13h2.5a4.5 4.5 0 10-.616-8.958 4.002 4.002 0 10-7.753 1.977A3.5 3.5 0 002 9.5zm9 3.5H9V8a1 1 0 012 0v5z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </div>
                <p class="my-3 leading-6">
                  Import videos from YouTube <br />
                  Copy / Paste your video link here
                </p>
                <form class="uk-grid-small" uk-grid>
                  <div class="uk-width-expand">
                    <input
                      type="text"
                      class="uk-input uk-form-small bg-gray-200"
                      style="box-shadow: none"
                      placeholder="Paste link"
                    />
                  </div>
                  <div class="uk-width-auto">
                    <button type="submit" class="button soft-warning -ml-2">
                      Import
                    </button>
                  </div>
                </form>
                <a
                  href="#"
                  class="uk-text-muted mt-3 uk-link"
                  uk-toggle="target: .choose-upload ; animation: uk-animation-slide-left-small, uk-animation-slide-right-medium; queued: true"
                >
                  Or Upload Video
                </a>
              </div>
            </div>

            <div class="px-4 py-3 -mx-5 -mb-4 mt-5 border-t text-sm">
              Your Video size Must be Maxmium 999MB
            </div>
          </div>

          <!-- Notification -->

          <a href="#" class="header-links-item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              aria-hidden="true"
              role="img"
              width="1em"
              height="1em"
              preserveAspectRatio="xMidYMid meet"
              viewBox="0 0 24 24"
            >
              <g fill="none">
                <path
                  d="M12 22a2.02 2.02 0 0 1-2.01-2h4a2.02 2.02 0 0 1-.15.78a2.042 2.042 0 0 1-1.44 1.18h-.047A1.922 1.922 0 0 1 12 22zm8-3H4v-2l2-1v-5.5a8.065 8.065 0 0 1 .924-4.06A4.654 4.654 0 0 1 10 4.18V2h4v2.18c2.579.614 4 2.858 4 6.32V16l2 1v2z"
                  fill="currentColor"
                />
              </g>
            </svg>
          </a>
          <div uk-drop="mode: click;offset: 4" class="header_dropdown">
            <h4
              class="-mt-5 -mx-5 bg-gradient-to-t from-gray-100 to-gray-50 border-b font-bold px-6 py-3"
            >
              Notification
            </h4>
            <ul class="dropdown_scrollbar" data-simplebar>
              <li>
                <a href="#">
                  <div class="drop_avatar">
                    <img
                      src="{% static 'assets/images/avatars/avatar-1.jpg' %}"
                      alt=""
                    />
                  </div>
                  <div class="drop_content">
                    <p>
                      <strong class="text-link">Taiye</strong>
                      <span class="text-link"> is following you </span>
                    </p>
                    <span class="time-ago"> 2 hours ago </span>
                  </div>
                </a>
              </li>
            </ul>
            <a href="#" class="see-all">See all</a>
          </div>

          <!-- Messages -->

          <a href="#" class="header-links-item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              aria-hidden="true"
              role="img"
              width="0.5em"
              height="0.5em"
              preserveAspectRatio="xMidYMid meet"
              viewBox="0 0 16 16"
            >
              <g fill="currentColor">
                <path
                  d="M2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
                />
              </g>
            </svg>
          </a>
          <div uk-drop="mode: click;offset: 4" class="header_dropdown">
            <h4
              class="-mt-5 -mx-5 bg-gradient-to-t from-gray-100 to-gray-50 border-b font-bold px-6 py-3"
            >
              Messages
            </h4>
            <ul class="dropdown_scrollbar" data-simplebar>
              <li>
                <a href="#">
                  <div class="drop_avatar">
                    <img
                      src="{% static 'assets/images/avatars/avatar-1.jpg' %}"
                      alt=""
                    />
                  </div>
                  <div class="drop_content">
                    <strong> Taiye </strong> <time> 6:43 PM</time>
                    <p>hi tomi</p>
                  </div>
                </a>
              </li>
            </ul>
            <a href="#" class="see-all">See all</a>
          </div>

          <!-- profile -->

          <a href="#">
            <img
              src="{{userProfile.profileimage.url}}"
              class="header-avatar"
              alt=""
            />
          </a>
          <div
            uk-drop="mode: click;offset:9"
            class="header_dropdown profile_dropdown border-t"
          >
            <ul>
              <li><a href="settings"> Account setting </a></li>
              <li><a href="explore.html">explore </a></li>
              <li><a href="#"> Help </a></li>
              <li><a href="logout"> Log Out</a></li>
            </ul>
          </div>
          {% if user.is_authenticated %}
          <div style="color: white; margin-left: 10px">
            <p>Welcome, {{ user.get_username }}</p>
            {% else %}
            <a href="/signin">Signin</a>
            <a href="/signup">SignUP</a>
            {% endif %}
          </div>
        </div>
      </div>
    </header>

    <div class="container m-auto">
      <!--<h1 class="lg:text-2xl text-lg font-extrabold leading-none text-gray-900 tracking-tight mb-5"> Feed </h1>--->

      <div class="lg:flex justify-center lg:space-x-10 lg:space-y-0 space-y-5">
        <!-- left sidebar-->
        <div class="space-y-5 flex-shrink-0 lg:w-7/12">
          {% for item in data %}
          <!-- post 1-->
          <div
            class="bg-white shadow rounded-md -mx-2 lg:mx-0"
            style="border: 1px #dbdbdb solid"
          >
            <!-- post header-->
            <div class="flex justify-between items-center px-4 py-3">
              <div class="flex flex-1 items-center space-x-4">
                <a href="/profile/{{item.postUserName}}">
                  <div
                    class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full"
                  >
                    {% if item.postAuthAvatar %}
                    <img
                      src="{{item.postAuthAvatar}}"
                      class="bg-gray-200 border border-white rounded-full w-8 h-8"
                    />
                    {% endif %}
                  </div>
                </a>
                <span class="block capitalize font-semibold">
                  <!-- {{item.postContent.profile.userName}} -->
                  {{item.postUserName}}
                </span>
                <p>{{item.postContent.createdAt}}</p>
              </div>
              <div>
                <a href="#">
                  <i
                    class="icon-feather-more-horizontal text-2xl hover:bg-gray-200 rounded-full p-2 transition -mr-1"
                  ></i>
                </a>
                <div
                  class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden text-base border border-gray-100"
                  uk-drop="mode: hover;pos: top-right"
                >
                  <ul class="space-y-1">
                    <li>
                      <a
                        href="#"
                        class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md"
                      >
                        <i class="uil-share-alt mr-1"></i> Share
                      </a>
                    </li>
                    <li>
                      <a
                        href="#"
                        class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md"
                      >
                        <i class="uil-edit-alt mr-1"></i> Edit Post
                      </a>
                    </li>
                    <li>
                      <a
                        href="#"
                        class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md"
                      >
                        <i class="uil-comment-slash mr-1"></i> Disable comments
                      </a>
                    </li>
                    <li>
                      <a
                        href="#"
                        class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md"
                      >
                        <i class="uil-favorite mr-1"></i> Add favorites
                      </a>
                    </li>
                    <li>
                      <hr class="-mx-2 my-2" />
                    </li>
                    <li>
                      <a
                        href="#"
                        class="flex items-center px-3 py-2 text-red-500 hover:bg-red-100 hover:text-red-500 rounded-md"
                      >
                        <i class="uil-trash-alt mr-1"></i> Delete
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div uk-lightbox>
              <a href="{{item.postContent.image.url}}">
                <img
                  src="{{item.postContent.image.url}}"
                  alt=""
                  style="width: 100%; height: 100%; background-size: cover"
                />
              </a>
            </div>

            <div
              id="{{item.postContent.id}}"
              class="py-3 px-4 space-y-3 post-action"
            >
              <p>
                <a href="/profile/{{item.postContent.userName}}"
                  ><strong></strong> {{item.postContent.userName}} </strong>Caption:
                  {{item.postContent.caption}}
                </a>
              </p>
              <div class="flex space-x-4 lg:font-bold">
                <div class="flex space-x-2">
                  <span class="p-2 rounded-full text-black likePost">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="{{item.likeButtonColor}}"
                      width="25"
                      height="25"
                      class="likeSvg"
                    >
                      <path
                        d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z"
                      />
                    </svg>

                    {% if item.postContent.no_of_likes != 0 %}
                    <p class="likeCountP">
                      Like by
                      <span class="likeCountSpan"
                        >{{item.postContent.no_of_likes}}</span
                      >
                      person
                    </p>

                    {% endif %}
                  </span>
                  <span class="p-2 rounded-full text-black commentShowBtn"
                    ><i
                      class="fa fa-comment-o"
                      style="
                        font-size: 1.4rem;
                        font-weight: bold;
                        margin-left: 200px;
                      "
                      aria-hidden="true"
                    ></i>
                  </span>
                </div>
              </div>
            </div>
            <hr />
            <div class="commentSection" data-show="0">
              <div class="commentContainer">
                <!-- comment 1 -->
              </div>

              <!-- create comment -->
              <form class="commentSectionForm">
                <!-- avatar -->
                <div>
                  <img
                    src="{{user.profile.profileimage.url}}"
                    alt="avatar"
                    style="width: 38px; height: 38px; object-fit: cover"
                  />
                </div>
                <!-- input -->
                <div class="commentInput">
                  <input
                    type="text"
                    class="form-control border-0 rounded-pill bg-gray"
                    placeholder="Write a comment"
                  />
                  <span class="createCommentBtn">
                    <i
                      class="fa fa-paper-plane postCommentBtnIcon"
                      aria-hidden="true"
                    ></i>
                  </span>
                </div>
              </form>
              <!-- end -->
            </div>
          </div>

          {% endfor%}
        </div>

        <!-- right sidebar-->
        <div class="lg:w-5/12">
          <div class="bg-white shadow-md rounded-md overflow-hidden">
            <div
              class="bg-gray-50 border-b border-gray-100 flex items-baseline justify-between py-4 px-6"
            >
              <h2 class="font-semibold text-lg">Users You Can Follow</h2>
              <!-- <a href="#"> Refresh</a> -->
            </div>

            <div
              class="divide-gray-300 divide-gray-50 divide-opacity-50 divide-y px-4"
            >
              {% for item in sugProfileList %}

              <div class="flex items-center justify-between py-3">
                <div class="flex flex-1 items-center space-x-4">
                  <a href="/profile/{{item.user.username}}">
                    <img
                      src="{{item.profileimage.url}}"
                      class="bg-gray-200 rounded-full w-10 h-10"
                    />
                  </a>
                  <div class="flex flex-col">
                    <span class="block capitalize font-semibold userNameSpan">
                      {{item.user.username}}
                    </span>
                  </div>
                </div>

                <button
                  class="ajaxFollowBtn border border-gray-200 font-semibold px-4 py-1 rounded-full hover:bg-pink-600 hover:text-white hover:border-pink-600"
                >
                  Follow
                </button>
              </div>
              {% endfor%}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static '/js/coreindex.js' %}"></script>
    <script>
      $(".likePost").on("click", function () {
        let that = this;
        postId = $(this).parent().parent().parent().attr("id");
        $.ajax({
          type: "post",
          url: "/like-post",
          data: {
            postId: postId,
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function (result) {
            likeAction(that, result.likeCount);
          },
          error: function (err) {
            console.log(err);
          },
        });
      });

      $(".createCommentBtn").on("click", function () {
        postId = $(this)
          .parent()
          .parent()
          .parent()
          .parent()
          .find(".py-3.px-4.space-y-3.post-action")
          .attr("id");

        content = $(this).prev().val();
        commentContainer = $(this)
          .parent()
          .parent()
          .parent()
          .find(".commentContainer");
        $.ajax({
          type: "post",
          url: "/comment-post",
          data: {
            content: content,
            postId: postId,
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function (addedCommentRs) {
            addToComments(commentContainer, addedCommentRs);
          },
          error: function (err) {
            console.log(err);
          },
        });
      });

      //update comment
      $(document).on("click", ".updateCommentBtn", function () {
        commentItem = $(this).parent().parent().parent();
        commentId = commentItem.attr("id");

        commentContentText = $(this)
          .parent()
          .parent()
          .find(".commentContentText");

        content = commentContentText.val();
        commentOpt = $(this).parent();

        $.ajax({
          type: "post",
          url: `/comment-post/${commentId}`,
          data: {
            content: content,
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function (rs) {
            console.log(rs);
            commentContentText.attr("disabled", true);
            commentOpt.remove();
          },
          error: function (err) {
            console.log(err);
          },
        });
      });
      // delete
      $(document).on("click", ".deleteCommentBtn", function () {
        commentItem = $(this).parent().parent().parent().parent().parent();
        commentId = commentItem.attr("id");

        console.log("..............", commentItem);

        $.ajax({
          type: "post",
          url: `/comment-post/${commentId}`,
          data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function (rs) {
            console.log(rs);
            commentItem.remove();
          },
          error: function (err) {
            console.log(err);
          },
        });
      });

      $(".ajaxFollowBtn").on("click", function () {
        friendUserName = $(this).prev().find(".userNameSpan").text().trim();
        console.log("------------", friendUserName);
        thatBtn = $(this);

        $.ajax({
          type: "post",
          url: `follow/${friendUserName}`,
          data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function (rs) {
            alert("Follow success");
            thatBtn.parent().remove();
          },
          error: function (err) {
            console.log(err);
          },
        });
      });
    </script>
  </body>
</html>
